<!DOCTYPE html>
<html>
  <head>
    <title>YOUR SITE TITLE</title>

    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
  </head>

  <body>
    <div class="header">
      <div id="logotype">
        <a href="/"><img src="img/logo.png" alt="YOUR SITE LOGO"></a>
      </div>

      <!-- google adSesnse -->
      <div class="googleAd">
        <!-- insert your Google Adsense code here -->
      </div>
    </div>

    <div class="mainContent">
      <div id="adPosted">
      </div>
    </div>


    <div id="footer">2014 | ver 0.8.0</div>

    <!-- getting data from links.txt -->
    <script src="js/request.js"></script>
    <!-- show "add posted succeful" message -->
    <script src="js/adPostedMessage.js"></script>
  </body>
</html>
