<!DOCTYPE html>
<html>
	<head>
	        <title>Anunt Orhei</title>
	        <meta charset="UTF-8">

	        <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">

	        <!-- getting data from links.txt -->
	        <script src="js/request.js"></script>

	        <!-- show "add posted succeful" message -->
	        <script src="js/adPostedMessage.js"></script>
	</head>

	<body>
		<div class="header">
			<div id="logotype">
				<a href="/"><img src="img/logo.png" alt="Logo Anunt Orhei"></a>
			</div>

			<!-- google adSesnse -->
			<div class="googleAd">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Anunt Orhei Header -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:728px;height:90px"
				     data-ad-client="ca-pub-0029006930915581"
				     data-ad-slot="6709178944"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>

		<div class="mainContent">
		    <div id="adPosted">
		    </div>
	    </div>


	    <div id="footer">2014 | ver 0.8.0</div>
	</body>
</html>