<!DOCTYPE html>
<html>
  <head>
    <title>YOUR SITE TITLE</title>

    <meta charset="UTF-8">
    <meta name="description" content="INSERT HERE YOUR SITE DESCRIPTION" />
    <meta name="keyowrds" content="INSERT HERE YOUR SITE KEYWORDS" />

    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">

    <!-- getting data from links.txt -->
    <script src="js/request.js"></script>
    <!-- jQuery -->
    <script src="libs/jquery-1.11.1.min.js"></script>
    <!-- ads count script -->
    <script src="js/adsCount.js"></script>
    <!-- category script -->
    <script src="js/getAdsByCategory.js"></script>
    <!-- pagination -->
    <script src="js/pagination.js"></script>
    <!-- show thumbnails -->
    <script src="js/showThumb.js"></script>
    <!-- Google Analytics -->
    <script>
      // put your Google Analytics code here
    </script>
  </head>

  <body>
    <div class="header">
      <div id="logotype">
        <a href="/"><img src="img/logo.png" alt="YOUR SITE LOGO"></a>
      </div>

      <!-- google adSesnse -->
      <div class="googleAd">
        <!-- put your Google Adsense code here -->
      </div>
    </div>

    <div class="mainContent">
      <div id="menu">
        <ul id="menuList">
          <li><a href="/" id="allAds">Pagina principală</a></li>
          <li><a href="javascript:getAdsByCategory('apartaments');" id="apartaments">Apartamente</a></li>
          <li><a href="javascript:getAdsByCategory('houses');" id="houses">Case şi vile</a></li>
          <li><a href="javascript:getAdsByCategory('lands');" id="lands">Terenuri</a></li>
          <li><a href="javascript:getAdsByCategory('comercial');" id="comercial">Imobil comercial</a></li>
          <li><a href="javascript:getAdsByCategory('garages');" id="garages">Garajuri</a></li>
          <li><a href="javascript:getAdsByCategory('cars');" id="cars">Automobile</a></li>
          <li><a href="javascript:getAdsByCategory('buses');" id="buses">Microbuze</a></li>
          <li><a href="javascript:getAdsByCategory('phones');" id="phones">Telefoane</a></li>
          <li><a href="javascript:getAdsByCategory('notebooks');" id="notebooks">Notebookuri</a></li>
          <li><a href="javascript:getAdsByCategory('desktop');" id="desktop">Compiutere</a></li>
          <li><a href="javascript:getAdsByCategory('repairs');" id="repairs">Construcţii şi reparaţii</a></li>
          <li><a href="javascript:getAdsByCategory('services');" id="services">Servicii</a></li>
          <li><a href="javascript:getAdsByCategory('other');" id="other">Altele</a></li>
          <li><p></p></li>
          <li><a href="/newad" style="color:red">Postează anunţ</a></li>
        </ul>
      </div>

      <div id="listing">
        <ul id="adsListing">
        </ul>
      </div>

      <div id="pagination">
        <div id="btnPrev">
          <a href="javascript:prevPage()">Previous</a>
        </div>

        <div id="btnNext">
          <a href="javascript:nextPage()">Next</a>
        </div>
      </div>
    </div>

    <div id="footer">2014 | ver 0.8.0</div>
  </body>
</html>
