<!DOCTYPE html>
<html>
  <head>
    <title>YOUR SITE TITLE</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/lightbox.css">

    <!-- lightbox and jquery as requires -->
    <script src="libs/jquery-1.11.1.min.js"></script>
    <script src="libs/lightbox.js"></script>

    <!-- getting data from links.txt -->
    <script src="js/request.js"></script>
    <!-- show ad script -->
    <script src="js/renderPage.js"></script>
	</head>

	<body>
		<div class="header">
			<div id="logotype">
				<a href="/"><img src="img/logo.png" alt="Logo Anunt Orhei"></a>
			</div>

			<!-- google adSesnse -->
			<div class="googleAd">
        <!-- put your Google Adsense code here -->
			</div>
		</div>

		<div class="mainContent">
			<div id="adName">
			</div>

			<div id="date">
			</div>

			<hr>

			<div id="imgAndMsg">
				<div id="ad-Message">
				</div>

				<div id="newFilePath">
				</div>
			</div>

			<div id="price">
			</div>

			<div id="phone">
			</div>

			<hr>

			<div id="usefulInfo">
				<h2>Informaţie utilă</h2>
				<ul>
					<li>Evitaţi escrocheriile şi plătiţi direct.</li>
					<li>Niciodată nu plătiţi prin Western Union, Moneygram sau alte servicii anonime de plată.</li>
					<li>Nu transferaţi bani persoanelor necunoscute.</li>
					<li>Acest site nu este implicat în nici o tranzacţie şi nici nu controlează plăţile, transportul, garanţia tranzacţiilor, nu oferă protecţia cumpărătorului şi nici certificarea vânzătorului.</li>
				</ul>
			</div>
		</div>


    <div id="footer">2014 | ver 0.8.0</div>
  </body>
</html>
